//Mobile
@media screen and (max-width: 739px) {
    .section {
        &-one {
            img {
                width: 30%;
            }
            .sec-1 {
                img {
                        width: 10%;
                        &:nth-child(1) {
                            top: -24px  ;
                        }
                        &:nth-child(3) {
                            right: -15px  ;
                        }
                        &:nth-child(1),
                        &:nth-child(3) {
                            width: 25px;
                            height: 25px;
                        }
                    }
                p {
                    font-size: 14px;
                    line-height: 16px  ;
                }
            }
        }
        &-two {
            .sec-2 {
                display: flex;
                flex-direction: column-reverse;
                margin: 0 -10px;
                &__bg {
                    &:nth-child(1) {
                        height: 90%;
                    }
                    &:nth-child(2) {
                        top: 2.8rem;
                        // img {
                        //     height: 500px  ;
                        // }
                    }
                    &:nth-child(3) {
                        top: 5.1rem;
                        right: -0.3rem;
                        width: 83%;
                        // img {
                        //     height: 500px  ;
                        // }
                    }
                }
                &__content {
                    padding: 0 38px;
                    h2 {
                        font-size: 27px  ;
                    }
                    p {
                        font-size: 15px  ;
                        line-height: 20px  ;
                    }
                }
                &__img {
                    img {
                        width: 75%;
                        margin-left: 33px;
                    }
                }
            }
        }
        &-three {
            .sec-3 {
                &__bg {
                    width: 94%;
                    img {
                        height: 480px;
                    }
                }
                &__img {
                    text-align: center;
                    img {
                        width: 60%;
                    }
                }
                &__content {
                    padding: 70px 22px 10px;
                    h2 {
                        font-size: 24px;
                    }
                    p {
                        font-size: 15px;
                        line-height: 23px;
                    }
                }
            }
        }
        &-four {
            h2 {
                font-size: 22px;
            }
            .sec-4 {
                &__bg {
                    width: 94%;
                    img {
                        width: 97%;
                        height: 1040px;
                    }
                }
                &__product {
                    &--item {
                        text-align: center;
                        img {
                            width: 75%;
                            border: 1px solid #dedede;
                            margin: 18px auto;
                        }
                    }
                }
            }
        }
        &-five {
            h2 {
                transform: rotate(0deg) translate(12px, 333px);
                font-size: 34px;
            }
            .sec-5 {
                &__product {
                    &:first-child {
                        height: 400px;
                    }
                    &:last-child {
                        display: none;
                    }
                }
                &__bg {
                    img {
                        width: 95%;
                        height: 400px;
                    }
                }
                &__title {
                    height: fit-content;
                    bottom: 0;
                    top: unset;
                    .h1st {
                        transform: rotate(90deg);
                        font-size: 8vw;
                    }
                }
                &__content {
                    right: 28px;
                    height: 80%;
                    h3 {
                        font-size: 22px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
        &-six {
            .sec-6 {
                &__product {
                    &:first-child {
                        padding: 0 10px  ;
                    }
                    &:last-child {
                        width: 100%  ;
                        margin: 0 10px;
                    }
                }
                &__content {
                    margin: 10px 0 0 20px  ;
                    padding: 20px 15px  ;
                    h3 {
                        font-size: 17px  ;
                    }
                    p {
                        font-size: 15px  ;
                    }
                }
                &__bg {
                    bottom: 8px  ;
                    img {
                        bottom: 8px  ;
                        right: 25px  ;
                    }
                }
            }
        }
        &-seven {
            .sec-7 {
                &__bg {
                    img {
                        &:first-child {
                            margin-top: 0  ;
                        }
                        &:last-child {
                            margin-top: 0  ;
                        }
                    }
                }
                &__img {
                    img {
                        width: 100%  ;
                        top: -315px  ;
                        left: 0  ;
                    }
                }
                &__play {
                    //transform: translateY(-15.5rem)  ;
                    // a {
                    //     img {
                    //         width: 20%;
                    //     }
                    // }
                    iframe {
                        height: 360px;
                        margin-top: 35px;
                    }
                }
            }
        }
        &-eight {
            .sec-8 {
                margin: 0  ;
                p {
                    font-size: 16px  ;
                }
            }
        }
    }
}

//Ip+
@media screen and (min-width: 414px) and (max-width: 414px) {
    .section {
        &-five {
            // h2 {
            //     transform: rotate(0deg) translate(30px, 333px)  ;
            // }
        }
        &-six {
            .sec-6 {
                &__content {
                    margin: 10px 0 0 28px  ;
                }
            }
        }
    }
}

//Tablet 
@media screen and (min-width: 740px) and (max-width: 1023px) {
    .main {
        padding: 0 10px;
    }

    .section {
        &-one {
            .sec-1 {
                width: 92%  ;
                p {
                    font-size: 24px;
                    line-height: 36px  ;
                }
            }
        }
        &-two {
            .sec-2 {
                &__content {
                    padding: 0 5px 30px 35px  ;
                    h2 {
                        font-size: 28px  ;
                    }
                    p {
                        font-size: 17px  ;
                        line-height: 22px  ;
                    }
                }
                &__bg {
                    &:nth-child(1) {
                        img {
                            height: 300px  ;
                        }
                    }
                    &:nth-child(2) {
                        img {
                            height: 285px  ;
                        }
                    }
                    &:nth-child(3) {
                        top: 4rem  ;
                        img {
                            height: 280px  ;
                        }
                    }
                }
            }
        }
        &-three {
            .sec-3 {
                &__bg {
                    img {
                        height: 344px  ;
                    }
                }
                &__content {
                    // padding: 0 20px 0 ;
                    // transform: translate(-65px, -25px);
                    h2 {
                        font-size: 25px ;
                    }
                    p {
                        font-size: 16px ;
                        line-height: 22px ;
                    }
                }
                &__img {
                    margin-bottom: -47px ;
                }
            }
        }
        &-four {
            h2 {
                height: 55px;
                font-size: 28px;
            }
            .sec-4 {
                &__bg {
                    img {
                        width: 722px;
                        height: 442px;
                    }
                }
                &__product {
                    &--content {
                        margin: 0 12px;
                    }
                }
            }
        }
        &-five {
            h2 {
                transform: rotate(-90deg) translate(-122px, -163px);
                font-size: 26px;
            }
            .sec-5 {
                &__bg {
                    // width: 48.6%;
                    img {
                        width: 48.6%;
                    }
                }
                &__content {
                    // margin-left: 35px  ;
                    // margin-top: -55px  ;
                    // width: 90.3%  ;
                    // padding: 0 10px;
                    // height: 96%  ;
                    h3 {
                        font-size: 22px;
                    }
                    p {
                        font-size: 15px;
                    }
                }
            }
        }
        &-six {
            .sec-6 {
                &__bg {
                    img {
                        bottom: 12px;
                    }
                }
                &__content {
                    width: 82%;
                    margin: 20px 0 0 30px;
                    padding-right: 22px;
                    h3 {
                        font-size: 22px;
                    }
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
        &-seven {
            .sec-7 {
                &__bg {
                    img {
                        height: 300px;
                        margin-top: 35px;
                        // &:first-child {
                        //     height: 300px  ;
                        //     margin-top: 35px  ;
                        // }
                        // &:last-child {
                        //     height: 300px  ;
                        //     margin-top: 35px  ;
                        // }
                    }
                }
                &__img {
                    img {
                        width: 90%;
                        top: -333px;
                        left: 45px;
                    }
                }
                &__play {
                    iframe {
                        width: 640px;
                        height: 360px;
                    }
                }
            }
        }
        &-eight {
            .sec-8 {
                margin: 0 21px  ;
                p {
                    &:nth-child(6) {
                        margin: 10px 20px 0;
                    }
                }
            }
        }
    }
}

//Ipad pro + laptop 
@media screen and (min-width: 1024px) and (max-width: 1024px) {
    .main {
        padding: 0 10px;
    }

    .section {
        &-three {
            .sec-3 {
                &__img {
                    margin-bottom: -64px  ;
                }
            }
        }
        &-four {
            h2 {
                height: 69px  ;
            }
            .sec-4 {
                &__bg {
                    width: 978px  ;
                    height: 522px  ;
                    img {
                        height: 500px;
                        width: 980px  ;
                    }
                }
                &__product {
                    margin: 0 69px  ;
                    &--content {
                        margin: 0 40px  ;
                    }
                }
            }
        }
        &-five {
            h2 {
                transform: rotate(-90deg) translate(-174px, -209px)  ;
                font-size: 50px  ;
            }
            .sec-5 {
                &__content {
                    margin-left: 67px  ;
                    margin-top: -85px  ;
                    h3 {
                        font-size: 28px  ;
                    }
                    p {
                        font-size: 18px  ;
                    }
                }
            }
        }
        &-six {
            .sec-6 {
                &__content {
                    width: 84%  ;
                    p {
                        font-size: 17px  ;
                    }
                }
            }
        }
        &-seven {
            .sec-7 {
                &__bg {
                    img {
                        &:first-child {
                            width: 980px  ;
                        }
                    }
                }
                &__img {
                    img {
                        width: 86%  ;
                        top: -453px  ;
                        left: 72px  ;
                    }
                }
                &__play {
                    iframe {
                        width: 900px;
                    }
                }
            }
        }
        &-eight {
            .sec-8 {
                margin: 0 80px  ;
            }
        }
    }
}
