//Responsive
@import '_respon';

$main-color: #FA6400;
$main-colorHover: #fa8d44;

* {
    font-family: 'Montserrat', sans-serif !important;
}

.banner {
    img {
        width: 100%;
    }
}

.section {
    &-one {
        text-align: center;
        margin-bottom: 70px;
        .sec-1 {
            display: flex;
            font-size: 30px;
            margin: 0 auto;
            position: relative;
            justify-content: center;
            width: 72.2%;
            p {
                line-height: 48.76px;
            }
            img {
                &:first-child {
                    position: absolute;
                    top: -2rem;
                    left: -1rem;
                }
                &:last-child {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
    &-two {
        .sec-2 {
            position: relative;
            height: 560px;
            &__bg {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    position: absolute;
                }
                &:nth-child(1) {
                    background: linear-gradient(135deg, rgba(219, 59, 3, 0.7) 0%, rgba(251, 172, 62, 0.7) 100%);
                    top: 0rem;
                    left: 0.68rem;
                    width: 84%;
                    height: 87%;
                    z-index: 2;
                }
                &:nth-child(2) {
                    background: linear-gradient(135deg, rgba(222, 76, 26, 0.7) 0%, rgba(250, 113, 24, 0.7) 33%, rgba(250, 176, 74, 0.7) 66%, rgba(248, 228, 145, 0.7) 100%);
                    top: 2rem;
                    left: 1.5rem;
                    z-index: 3;
                    width: 84%;
                    height: 87%;
                }
                &:nth-child(3) {
                    top: 6rem;
                    right: 0.6rem;
                    width: 88%;
                    z-index: 1;
                    background-color: #f6f6f6;
                    height: 82%;
                }
            }
            &__content,
            &__img {
                z-index: 4;
            }
            &__content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 75px 50px;
                text-align: center;
                h2,
                p {
                    color: #fff;
                }
                h2 {
                    font-weight: 800;
                    font-size: 32px;
                }
                p {
                    font-size: 20px;
                    line-height: 30.48px;
                }
            }
            &__img {
                height: 100%;
                //transform: translateX(703px);
            }
            &__animation {
                //Animation
                opacity: 0;
                transition: all 1000ms ease-out;
                transform: translate3d(100px, 0px, 0px);
                backface-visibility: hidden;
                &-default {
                    //transition: transform 1s linear;
                    //transform: translateX(0);
                    //Animation
                    opacity: 1;
                    transform: translate3d(0px, 0px, 0px);
                    transition: all 1000ms ease-out;
                }
            }
            //&__animation
        }
    }
    &-three {
        .sec-3 {
            &__bg {
                position: absolute;
                right: 0.6rem;
                top: 0;
                width: 76%;
                height: 100%;
                background: rgb(226, 97, 53);
                background: linear-gradient(135deg, rgba(226, 97, 53, 1) 0%, rgba(248, 121, 52, 1) 33%, rgba(251, 198, 108, 1) 66%, rgba(250, 227, 133, 1) 100%);
            }
            &__img {
                margin-bottom: -78px;
            }
            &__animation {
                opacity: 0;
                transition: all 1000ms ease-out;
                transform: translate3d(-100px, 0px, 0px);
                backface-visibility: hidden;
                &-default {
                    opacity: 1;
                    transform: translate3d(0px, 0px, 0px);
                    transition: all 1000ms ease-out;
                }
            }
            &__img,
            &__content {
                z-index: 1;
            }
            &__content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 37px;
                text-align: center;
                transform: translateX(-45px);
                h2 {
                    font-weight: 800;
                    font-size: 32px;
                }
                p {
                    font-size: 20px;
                    line-height: 30.48px;
                    font-weight: 600;
                }
            }
        }
    }
    &-four {
        h2 {
            font-weight: 800;
            font-size: 32px;
            color: #fff;
            justify-content: center;
            align-items: center;
            height: 74px;
            display: flex;
            margin-bottom: 0;
            position: relative;
        }
        .sec-4 {
            &__bg {
                position: absolute;
                background: #e26135;
                background: linear-gradient(135deg, #de420c 0%, #f9650a 33%, #fbb84a 66%, #f9da66 100%);
                width: 1200px;
                height: 575px;
            }
            &__product {
                background-color: #fff;
                margin: 0 80px;
                &--content {
                    text-align: center;
                    margin: 0 55px;
                    line-height: 20px;
                    h3 {
                        font-size: 20px;
                        font-weight: 500;
                    }
                    p {
                        font-weight: 500;
                    }
                    button {
                        border: none;
                        cursor: pointer;
                        font-size: 14px;
                        border-radius: 10px;
                        padding: 8px 20px;
                        margin: 4px 0 6px;
                        transition: .4s;
                        @extend %color-btn;
                        &:hover {
                            color: #fff;
                            background-color: $main-colorHover;
                        }
                    }
                }
            }
        }
    }
    &-five {
        h1 {
            position: relative;
            z-index: 1;
            font-size: 60px;
            color: #ffffff80;
            letter-spacing: 15px;
            font-weight: 800;
            //transform: rotate(-90deg) translate(-738px, -260px);
            //opacity: 0;
        }
        .h1st {
            &__animation {
                // transform: rotate(-90deg) translate(-202px, -260px);
                // opacity: 1;
                // transition: transform 1s linear;
                opacity: 0;
                -moz-transition: all 1000ms ease-out;
                -webkit-transition: all 1000ms ease-out;
                -o-transition: all 1000ms ease-out;
                transition: all 1000ms ease-out;
                -moz-transform: rotate(-90deg) translate3d(-738px, -260px, 0px);
                -webkit-transform: rotate(-90deg) translate3d(-738px, -260px, 0px);
                -o-transform: rotate(-90deg) translate(-738px, -260px);
                -ms-transform: rotate(-90deg) translate(-738px, -260px);
                transform: rotate(-90deg) translate3d(-738px, -260px, 0px);
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                backface-visibility: hidden;
                &-default {
                    //transition: transform 1s linear;
                    //transform: translateX(0);
                    //Animation
                    opacity: 1;
                    -moz-transform: rotate(-90deg)translate3d(-202px, -260px, 0px);
                    -webkit-transform: rotate(-90deg) translate3d(-202px, -260px, 0px);
                    -o-transform: rotate(-90deg) translate(-202px, -260px);
                    -ms-transform: rotate(-90deg) translate(-202px, -260px);
                    transform: rotate(-90deg) translate3d(-202px, -260px, 0px);
                    -moz-transition: all 1000ms ease-out;
                    -webkit-transition: all 1000ms ease-out;
                    -o-transition: all 1000ms ease-out;
                    transition: all 1000ms ease-out;
                }
            }
        }
        .sec-5 {
            &__product {
                &:first-child {
                    padding-left: 10px;
                }
                &:last-child {
                    padding-right: 10px;
                }
            }
            &__bg {
                width: 49.3%;
                height: 100%;
                position: absolute;
                background: linear-gradient(135deg, #e56434 0%, #fb8033 25%, #fca04a 60%, #fbc66a 75%, #fae083 100%);
            }
            &__content {
                position: relative;
                background-color: #fff;
                width: 86.9%;
                height: 92%;
                margin-left: 80px;
                margin-top: -99px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                h3 {
                    font-weight: 800;
                    font-size: 30px;
                }
                p {
                    font-weight: 500;
                    font-size: 22px;
                }
            }
        }
    }
    &-six {
        .sec-6 {
            &__product {
                &:first-child {
                    padding-left: 10px;
                    img {
                        width: 100%;
                    }
                }
                &:last-child {
                    background-color: #F6F6F6;
                    width: 49.2%;
                    position: relative;
                }
            }
            &__content {
                z-index: 1;
                position: relative;
                background-color: #fff;
                width: 87.5%;
                height: 88%;
                margin: 20px 0 0 35px;
                padding-right: 56px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                h3 {
                    font-weight: 800;
                }
                p {
                    font-weight: 500;
                    font-size: 20px;
                }
            }
            &__bg {
                background: linear-gradient(135deg, rgba(221, 61, 1, 1) 0%, rgba(248, 93, 0, 1) 33%, rgba(250, 163, 50, 1) 66%, rgba(250, 215, 99, 1) 100%);
                width: 80%;
                height: 80%;
                bottom: 20px;
                right: 18px;
                position: absolute;
            }
        }
    }
    &-seven {
        .sec-7 {
            &__bg {
                height: 0;
                img {
                    &:first-child {
                        position: absolute;
                        width: 1200px;
                        height: 430px;
                        margin-top: 50px;
                    }
                    &:last-child {
                        position: relative;
                        height: 430px;
                        width: 100%;
                        margin-top: 50px;
                    }
                }
            }
            &__img {
                height: 0;
                display: none;
                img {
                    position: relative;
                    z-index: 1;
                    width: 80%;
                    top: -480px;
                    left: 130px;
                }
            }
            &__play {
                text-align: center;
                z-index: 1;
                position: relative;
            }
        }
    }
    &-eight {
        margin-top: 50px;
        .sec-8 {
            text-align: center;
            margin: 0 185px;
            h3 {
                font-weight: 800;
            }
            p {
                font-weight: 500;
                font-size: 20px;
                &:first-child {
                    margin-bottom: 10px;
                }
            }
            button {
                border: none;
                cursor: pointer;
                padding: 10px 20px;
                border-radius: 10px;
                margin: 15px 0;
                @extend %color-btn;
                &:hover {
                    background-color: $main-colorHover;
                }
            }
        }
    }
    &-one,
    &-two,
    &-three,
    &-four,
    &-five,
    &-six,
    &-seven,
    &-eight{
        margin-top: 33px;
    }
}

//Extend
%color-btn{
    color: #fff;
    background-color: $main-color;
}

.sec{
    &__animation {
        //Animation
        opacity: 0;
        backface-visibility: hidden;
        transition: all 1000ms ease-out;
        &--bottom{
            transform: translate3d(0px, 100px, 0px);
            
        }
        &--top{
            transform: translate3d(0px, -100px, 0px);

        }
        &--left{
            transform: translate3d(-100px, 0px, 0px);

        }
        &--right{
            transform: translate3d(100px, 0px, 0px);
        }
        &-default {
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
        }
    }
}
